@model IEnumerable<UserGroupMember>


	@foreach(var member in Model){
<a class="list-group-item list-group-item-action border-0">
	@* <div class="badge bg-success float-right">5</div> *@
	<div class="d-flex align-items-start">

			@if (Url.Content(member.AccountUser.MemberPhotoPath) != @ViewBag.image)
			{
				<img src="@Url.Content("~/images/MemberProfile/" + @member.AccountUser.MemberFileName)" class="rounded-circle mr-1" width="40" height="40" />
			}
			else
			{
				<img src="@Url.Content("~/images/Profile/" + @member.AccountUser.MemberFileName)" class="rounded-circle mr-1" width="40" height="40"/>
			}

		<div class="flex-grow-1 ml-3">
				@Html.DisplayFor(modelItem => member.AccountUser.FirstName) @Html.DisplayFor(modelItem => member.AccountUser.LastName)
				@if (member.AccountUser.Id == @ViewBag.GroupManager)
				{
					<div class="small"><span class="fa fa-circle chat-online"></span> Group Owner</div>
				}
			@* <div class="small"><span class="fas fa-circle chat-online"></span> Online</div> *@
		</div>
	</div>
</a>
	}



