@model Stokvel_Groups_Home.Models.Group

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Group</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VerifyKey)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VerifyKey)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.TypeAccount)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.TypeAccount)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupDate)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupDate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AccountTarget)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AccountTarget)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GroupStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GroupStatus)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GroupId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
