@model IEnumerable<Group>


@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!-- row -->

        <div class="row column_title">
            <div class="col-md-12">
                <div class="page_title">
                    <h2>Groups</h2>
                </div>
            </div>
        </div>
        <!-- row -->


        <nav aria-label="breadcrumb" class="bg-white rounded-3 p-3 mb-4">
            <div class="row">

                <div class="col-md-12">

                    <a class="btn btn-outline-danger" asp-action="Create">Create New</a>

                </div>
                

            </div>
        </nav>

        <!-- row -->
        <div class="row column1">
            <div class="col-md-12">
                <div class="white_shd full margin_bottom_30">
                    <div class="full graph_head">
                        <div class="heading1 margin_0">
                            <h2>Join a Group</h2>
                        </div>
                    </div>
                    <div class="full price_table padding_infor_info">
                        <div class="row">
                            @foreach (var group in ViewBag.GroupIdList){
                                @foreach (var item in Model.Where(x => x.GroupId == group).ToList())
                            {
                                <!-- column groups -->
                                <div class="col-lg-4 col-md-6 col-sm-6 col-xs-12 profile_details margin_bottom_30">
                                    <div class="contact_blog">
                                        <p>  @Html.Hidden("GroupId")</p>
                                        <h4 class="brief">@Html.DisplayFor(modelItem => item.TypeAccount)</h4>
                                        <div class="contact_inner">
                                            <div class="left">
                                                <h3> @Html.DisplayFor(modelItem => item.GroupName)</h3>
                                                <p><strong>Verify Key: </strong>@Html.DisplayFor(modelItem => item.VerifyKey)</p>
                                                <p><strong>Play For: </strong> R @Html.DisplayFor(modelItem => item.AccountTarget)</p>
                                                <ul class="list-unstyled">
                                                    <li><i class="fa fa-envelope-o"></i> : test@gmail.com</li>
                                                    <p><strong>Total Member In Take: </strong> @Html.DisplayFor(modelItem => item.TotalGroupMembers)</p>
                                                </ul>
                                            </div>
                                            <div class="right">
                                                <div class="profile_contacts">
                                                @if (ViewBag.MemberPhotoPath != ViewBag.image)
                                                {
                                                    <img src="@Url.Content("~/images/MemberProfile/" + @item.GroupImage)" height="95px" width="95px" />
                                                }
                                                else
                                                {
                                                    <img src="@Url.Content("~/images/Profile/" + @item.GroupName)" height="95px" width="95px" />
                                                }
                                                </div>
                                            </div>
                                            <div class="bottom_list">
                                                <div class="left_rating">
                                                    <p class="ratings">
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star"></span></a>
                                                        <a href="#"><span class="fa fa-star-o"></span></a>
                                                    </p>
                                                </div>
                                                <div class="right_button">
                                                    <button type="button" class="btn btn-success btn-xs">
                                                        <i class="fa fa-user">
                                                        </i> <i class="fa fa-comments-o"></i>
                                                    </button>

                                                    <p class="mb-0 text-uppercase mt-2">
                                                        @using (Html.BeginForm("JoinGroup", "Accounts", FormMethod.Get))
                                                        {

                                                            @Html.Hidden("GroupVerifyKey", (string)item.VerifyKey)
                                                            <button type="submit" class="btn btn-primary btn-xs"><i class="fa fa-user"> </i>  Join Here</button>
                                                        }
                                                    </p>

                                                    <div class="d-flex justify-content-between text-center mt-2 mb-2">
                                                        <div>
                                                            <a asp-action="Details" asp-route-id="@item.GroupId">Details</a>
                                                        </div>
                                                        <div>
                                                            <a href="#myModal" class="" data-toggle="modal">Delete</a>

                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                <!--popup waring box danger-->
                                <div id="myModal" class="modal fade">
                                    <div class="modal-dialog modal-confirm">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <div class="icon-box">
                                                    <i class=" fa fa-times "></i>
                                                </div>
                                                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            </div>
                                            <h4 class="modal-title">Are you sure?</h4>
                                            <div class="modal-body">
                                                <p>Do you really want to delete this Group? This process cannot be undone.</p>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6 text-center">
                                                    <button type="button" class="btn btn-info btn-lg w-100" data-dismiss="modal">Cancel</button>
                                                </div>
                                                <div class="col-md-6 text-center">
                                                    <a asp-action="Delete" asp-route-id="@item.GroupId" class="btn btn-danger btn-lg w-100">Delete</a>
                                                </div>
                                            </div>

                                        </div>
                                    </div>
                                </div>

                                <!-- end column contact blog -->
                            }}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        








    <style>
        body {
            font-family: 'Varela Round', sans-serif;
        }

        .modal-confirm {
            color: #636363;
            width: 400px;
            margin: 30px auto;
        }

            .modal-confirm .modal-content {
                padding: 20px;
                border-radius: 5px;
                border: none;
                text-align: center;
                font-size: 14px;
            }

            .modal-confirm .modal-header {
                border-bottom: none;
                position: relative;
            }

            .modal-confirm h4 {
                text-align: center;
                font-size: 26px;
                margin: 30px 0 -10px;
            }

            .modal-confirm .close {
                position: absolute;
                top: -5px;
                right: -2px;
            }

            .modal-confirm .modal-body {
                color: #999;
            }

            .modal-confirm .modal-footer {
                border: none;
                text-align: center;
                border-radius: 5px;
                font-size: 13px;
                padding: 10px 15px 25px;
            }

                .modal-confirm .modal-footer a {
                    color: #999;
                }

            .modal-confirm .icon-box {
                width: 80px;
                height: 80px;
                margin: 0 auto;
                border-radius: 50%;
                z-index: 9;
                text-align: center;
                border: 3px solid #f15e5e;
            }

                .modal-confirm .icon-box i {
                    color: #f15e5e;
                    font-size: 46px;
                    display: inline-block;
                    margin-top: 13px;
                }

            .modal-confirm .btn-info {
                background: #c1c1c1;
            }

                .modal-confirm .btn-info:hover, .modal-confirm .btn-info:focus {
                    background: #a8a8a8;
                }

        .trigger-btn {
            display: inline-block;
            margin: 100px auto;
        }
    </style>



