@model IEnumerable<Stokvel_Groups_Home.Models.PaymentStatus>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatusName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PaymentStatesDescription)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatusName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PaymentStatesDescription)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.PaymentStatusId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.PaymentStatusId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.PaymentStatusId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
